@import url(http://fonts.googleapis.com/css?family=Roboto);
/*@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);*/

body {
background-color: #f5f5f5;
/*color: #fff;*/
margin: 0;
padding: 0;}

.page {
max-width: 100%;
margin: 0 auto 30px auto;}

.panel {
background-color: #fff;
color: #666;
box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
overflow: auto;}

button {
border: none;}

/********** LOGO **********/
h1 {
text-align: center;
width: 200px;
height: 100px;
margin: 40px auto 40px auto;
/*background-image: url('../img/logo.png');
background-repeat: no-repeat;*/
/*text-indent: 100%;*/
white-space: nowrap;
overflow: hidden;}

/********** TYPOGRAPHY **********/
body, button {
  font-family: 'Roboto', sans-serif;}

h2, h3 {
font-weight: normal;
margin: 0;}
h2 {
color: #666;
text-transform: uppercase;
letter-spacing: 0.14em;
font-size: 230%;
line-height: 1em;
padding: 20px 0 0 20px;}
h3 {
font-size: 90%;
letter-spacing: 0.2em;}

p {
font-family: 'Roboto', sans-serif;
line-height: 1.4em;}

a {
  text-decoration: none;}

button {
font-size: 90%;
text-align: left;
text-transform: uppercase;}

/*****************  No JS ***************/
#billboard {text-align: center;}
.js-warning {display: none;}

.no-js .js-warning {
display: block;
border: 3px solid #fff;
text-align: center;
background-color: #fff;
color: #db5391;
padding: 10px;}

/**********  ACCORDION **********/
.accordion, .menu {
background-color: #cfd8dc;
color: #000000;
margin: 0;
padding: 0;
overflow: auto;}

.accordion li {
padding: 0;
list-style-type: none;}

.accordion-control {
background-color: #81D4FA;
text-align:center;
color: #000000;
display: block;
width: 100%;
padding: 0.5em 0.5em 0.5em 0.7em;
margin: 0;
border-top: 1px solid #666;}

.accordion-panel {
display: none;}

.accordion-panel p {
margin: 20px;}

.accordion-panel img {
display: block;
clear: left;}

/*******Search Field******/
#filter-search {
  /*background-image: url('');  Add a search icon to input */
  font-family: 'Roboto', sans-serif;
  /*background-position: 10px 12px;  Position the search icon */
  /*background-repeat: no-repeat;  Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 0.5em 0.5em 0.5em 0.7em /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px;
  text-align: center; /* Add some space below the input */
}

/*****List View*****/
#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a.header {
  background-color: #e2e2e2; /* Add a darker background color for headers */
  cursor: default; /* Change cursor style */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
