@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
background-color: #f5f5f5;
margin: 0;
padding: 0
}

button {
font-size: 90%;
margin-bottom: 12px;
text-align: left;
/*text-transform: uppercase;*/
border: 1px solid #ddd;
}



.content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 75%;
  padding:  1em;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 1.5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 auto 30px auto}

.panel {
background-color: #fff;
color: white;
box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
overflow: auto;}



/********** LOGO **********/
h1 {
text-align: center;
margin: 40px auto 40px auto;
white-space: nowrap;
overflow: hidden
}
h2, h3 {
font-weight: normal;
margin: 0
}
h2 {
color: #666;
text-transform: uppercase;
letter-spacing: 0.14em;
font-size: 230%;
line-height: 1em;
padding: 20px 0 0 20px
}

h3 {
font-size: 90%;
letter-spacing: 0.2em
}

p {
font-family: 'Roboto', sans-serif;
line-height: 1.4em
}

a {
  text-decoration: none;}




/********** TYPOGRAPHY **********/
body, button {
  font-family: 'Roboto', sans-serif;}


/*****************  No JS ***************/
#billboard {text-align: center;}
.js-warning {display: none;}

.no-js .js-warning {
display: block;
border: 3px solid #fff;
text-align: center;
background-color: #fff;
color: #db5391;
padding: 10px;}

/**********  ACCORDION **********/
.accordion, .menu {
background-color: white;
/*color: #000000;*/
margin: 1em;
padding: 0;
overflow: auto;}

.accordion li {
padding: 0;
list-style-type: none;}

.accordion-control {
background-color: whitesmoke;
text-align:center;
/*color: #000000;*/
display: block;
width: 100%;
padding: 0.5em 0.5em 0.5em 0.7em;
margin: 0;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
border-top: 1px solid #666;}

.accordion-panel {
display: none
}

.accordion-panel p {
margin: 20px;}

.accordion-panel img {
display: block;
clear: left;}

/*******Search Field******/
#filter-search {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Increase font-size */
  padding: 0.5em 0.5em 0.5em 0.7em; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px;
  text-align: center; /* Add some space below the input */
 
}

/*****List View*****/
#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  /*color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

#myUL li a.header {
  background-color: #e2e2e2; /* Add a darker background color for headers */
  cursor: default; /* Change cursor style */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

