/***************Libraries**************/
/*****************JQuery_UI*****************/
/*WARNING this Library needs to be integrated into the CSS otherwise the Style of the Dialogue will removed on the Server*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css);

/********************Text-Style***********************/
@import url(https://fonts.googleapis.com/css?family=Roboto);

/********icon******/
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


/*****************Elements*******************/
body {
	background-color: #f5f5f5;
	margin: 0;
  padding: 0;
  min-width: 400px;
  	font-family: 'Roboto', sans-serif;
  	font-size: 1.1vw;

}

h1{
	text-align:center;
}

p{
	text-align: justify;
	color:grey;
}

button {
margin-bottom: 0.5em;
margin-right: 0.5em;
text-align: left;
border: none;
cursor: pointer;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);

}

button.active {
	background-color: #63a4ff;
	color: #fff;
	cursor: pointer;}

.content {
  padding:  1em;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 1.5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 auto 30px auto}

/**************Table-Style**************/

thead{
	width:100%;
	background-color:cornflowerblue;
	color:white;
	}


/*************Column Size**********/
#checkbox{
	width: 5%;	
}

 #details{
	width:10%;
}
#details-head{
	width:11.38%;
}
thead .sortable #details{
	width:10%;
}

.filter{
	border: none;
}


table, td, tr {    
	 
    text-align: left;
    
}
th .material-icons{
	float:right;
	font-size: 1.2vw;
}


/*************Generate Same TableSize ******************/
table {
 table-layout:fixed;
    border-collapse: collapse;
    width: 100%;
}

 th, td, tr {
    padding: 1em; 
}

td {    

    border: 1px solid #ddd;
    
}
/*********DialogTableStyle******/

/**********Col-Size*************/
.dialog_first_col{
 	width:20%;
}

.dialog_second_col{
	width:80%;
}
.dialog_third_col{
	width:50%;
}



/*******Search Field******/
#filter-search {
	background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-32.png) ;
	background-repeat: no-repeat;
	text-indent: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 1em; /* Increase font-size */
	padding: 0.5em 0.5em 0.5em 0.7em; /* Add some padding */
	border:none; 
	border-bottom: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 8px;
	text-align: left; /* Add some space below the input */
	width:100%;
}


table.sortable {
	display: table;
	width: 100%;
  }

table.sortable thead {
	overflow:scroll;
	display: table;
	table-layout: fixed;
 /* assuming scrollbar width as 16px */
  }

  table.sortable tbody {
	overflow: scroll;
	overflow-x: hidden; 
	height: 400px;
	display: block;
  }

  table.sortable thead,
  table.sortable tbody {
	width: 100%;
  }


  table.sortable tr {
	width: 100%;
	text-align: left;
	display: table;
	table-layout: fixed;
  }
/********** Filter_/**********  ACCORDION **********/

.accordion-control {
background-color: whitesmoke;
border:none;
font-size:1em;
text-align:center;
display: block;
width: 100%;
margin-bottom: 8px;
margin-right: 8px;
padding: 0.5em 0.5em 0.5em 0.7em;
margin-top: 3px;
cursor: pointer;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
}

.accordion-control:hover{
background-color: silver;
	
}

.accordion-panel {
display: none
}

.accordion-control .material-icons{
	float:right;
	font-size:1.2vw;
}
table.sortable #th:hover {
	cursor: pointer;}
#th.ascending, #th.descending, table.sortable #th:hover {
	background-color: #63a4ff;
	color: #fff;}

/* Arrows for table sorting */
#th.ascending:after {
	font-size: 60%;
    content: '\25B2';
    float: left;
	padding: 4px 5px 0 0;}
#th.descending:after {
	font-size: 60%;
    content: '\25BC';
    float: left;
	padding: 4px 5px 0 0;}
	
	


